<!DOCTYPE html>
<html>
<head>
  <title>Lucidia</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script type="text/javascript">
    $(document).foundation();
    $(document).ready(function(){
    	$('#editor').hallo(); //instantiate the minimalist rich text editor
    	init_all();
    	$('#editor').focus();
    });
  </script>
</head>
<body>
	<div id="container">
		<div class="title">
			<span class="name">Lucidia</span>
		</div>
		<nav id="side-menu" class="side-menu">
			<a href="#" class="menu-trigger"><span></span></a>
			<ul>
				<li><a id="create" href="/" class="item">Create</a></li>
				<li><a href="/about" class="item">About</a></li>
			</ul>
		</nav>
		
		<%= yield %>
		
		<div class="zz-b" style="background-image: url('<%= asset_path('zz-transparent.png') %>')">

		</div>
	</div>

</body>
</html>
